n8n_MunichCRM-Send.json
{
  "name": "MunichCRM-Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "munich-crm-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook CRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "munich-crm-send"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1120251634497576/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.media_url ? JSON.stringify({ messaging_product: 'whatsapp', to: $json.body.telefono, type: (['image','video','audio','document'].includes($json.body.media_tipo) ? $json.body.media_tipo : 'document'), [['image','video','audio','document'].includes($json.body.media_tipo) ? $json.body.media_tipo : 'document']: Object.assign({ link: $json.body.media_url }, ($json.body.media_tipo === 'document' ? { filename: ($json.body.media_nombre || 'archivo') } : {}), (($json.body.mensaje && $json.body.media_tipo !== 'audio') ? { caption: $json.body.mensaje } : {})) }) : JSON.stringify({ messaging_product: 'whatsapp', to: $json.body.telefono, type: 'text', text: { body: $json.body.mensaje } }) }}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Enviar WhatsApp (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook CRM": { "main": [[{ "node": "Enviar WhatsApp (Meta)", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp (Meta)": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
