n8n_MunichCRM-Send.json
{
  "name": "MunichCRM-Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "munich-crm-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook CRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "munich-crm-send"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1120251634497576/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){ var b=$json.body; if(!b.media_url){ return JSON.stringify({messaging_product:'whatsapp',to:b.telefono,type:'text',text:{body:b.mensaje}}); } var t=['image','video','audio','document'].indexOf(b.media_tipo)>=0?b.media_tipo:'document'; var media={link:b.media_url}; if(t==='document'){media.filename=b.media_nombre||'archivo';} if(b.mensaje&&t!=='audio'){media.caption=b.mensaje;} var out={messaging_product:'whatsapp',to:b.telefono,type:t}; out[t]=media; return JSON.stringify(out); })() }}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Enviar WhatsApp (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook CRM": { "main": [[{ "node": "Enviar WhatsApp (Meta)", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp (Meta)": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
